*{
    margin:0;
    padding: 0;
}
.head-container{
    background-color: aquamarine;
    height: 100px;
    width: 1200px;
    margin: 0 auto;
}
.container{
    background-color: sandybrown;
    width: 1200px;
    height: 800px;
    margin: 0 auto;

}
.img-logo img{
    width: 100%;
}
.img-logo{
    background-color: darkorchid;
    width: 80px;
    height: 70px;
    margin: 10px 10px 10px 25px;
    float: left;
}
nav-bar{
    background-color: chocolate;
    height: 120px;
    float: left;    
}