*{
    margin:0;
    padding: 0;
}
* a{
    text-decoration: none;
    color: black;
}
.head-container{
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    height: 800px;
    margin: 0 auto;

}
.img-logo img{
    width: 100px;
    height: 70px;
}
.img-logo{
    width: 100px;
    height: 70px;
    margin: 10px 10px 10px 25px;
    float: left;
}
.nav-bar{
    width: 1065px;
    height: 100px;
    float: left;
}
.nav-bar-top{
    height: 70px;
    width: 1065px;
}
.nav-bar-bottom{
    height: 30px;
    width: 1065px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}
.website-title{
    height: 100%;
    width: 800px;
    font-size: 20px;
    font-family: Tahoma;
    line-height:3;
    padding-left: 30px;
    float: left;
}
.contact-us-btn{
    float: left;
    padding: 13px 20px 5px 25px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: #444 -3px 3px;
}
.contact-us-btn:visited{
    color: black;
}
.contact-us-btn:hover{
    font-weight: bold;
}
.contact-us-div{
    width: 235px;
    height: 70px;
    float: left;
}
.contact-us-btn:link{
    margin: 10px 50px;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;

}
.nav-list{
    list-style-position: inside;
    list-style-type: none;
    display: inline-block;
}
.li-nav{
    display: inline-block;
    margin-left: 35px;
    margin-top:5px;
    padding:0 50px;
    font-size: 20px;
    border-right: 1px solid #000;
    line-height: 20px;
    border-left: 1px solid #000;
}
.li-nav:last-child{
    border-right: none;
}
.li-nav:first-child{
    border-left: none;
}
.li-nav:hover{
    font-weight: bold;
    cursor: pointer;
}
.container-top{
    height: 480px;
    width: 1200px;
}
.rotating-image{
    height: 480px;
    width: 60%;
    margin-top: 10px;
    box-sizing: border-box;
    float: left;
}
.img-rotating{
    height: 460px;
    border:5px solid #000;

}
.change-image{
    text-align: center;
    margin:0 auto;
    padding: 15px 0;
}
.next-image a{
    border-radius: 10px;
    border:2px solid #000;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 20px;
    box-sizing: border-box;
    float: left;
}
.next-image a:hover{
    font-weight: bold;
}
.next-image a:visited{
    color: black;
}
.next-image a:first-child{
    margin-right: 10px;
}
.img-rotating img{
    width: 100%;
    height: 100%;
}
.rotate-btns{
    height: 41px;
    width: 711px;
    text-align: center;
    display: inline-block;
    padding: 5px 250px 5px 250px;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.specials{
    float: left;
    width: 200px;
    height: 460px;
    margin-left: 15px;
    margin-top: 10px;
    border: 5px solid #000000;
    overflow-y: auto;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.specials div{
    font-size: 18px;
    overflow-y: auto;
}
.specials h3{
    font-size: 20px;
    text-align: center;
}
.specials div:hover{
    background-color: #ccc
}
.info{
    height: 434px;
    width: 225px;
    float: left;
    margin: 10px 10px 10px 20px;

}
.plate-img{
    width: 100%;
    height: 30%;
}
.plate-img img{
    width: 100%;
    height: 100%;
}
.plate-txt{
    text-align: center;
    font-family: Tahoma;
    font-size: 18px;
    height: 20px;
}
.make-a-reservation{
    text-align: center;
    height: 50px;
    line-height: 50px;

}
.make-a-reservation:hover{
    font-weight: bold;
}
.make-a-reservation a{
    text-decoration: none;
    color: black;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
    box-shadow: #444 -3px 3px;
}
.null{
    width: 100%;
    height: 85px;
}
.clock-img{
    float: left;
    background-color: #444444;
    width: 50%;
    height: 149px;
}
.clock-img img{
    height: 100%;
    width: 100%;
}
.hour-list{
    float: left;
}
.hour-list ul li{
    list-style-position: inside;
    list-style-type: none;
    font-size: 18px;
    font-family: Tahoma;
    padding: 10px 5px 5px 10px;
    box-sizing: border-box;
}
.hour-list ul li:first-child{
    font-weight: bold;
}
.container-bottom{
    height: 40%;
    width: 1200px;
    margin: 10px 0;
    padding-bottom: 10px;
}
.order{
    width: 383px;
    float: left;
    height: 319px;
    padding-right: 25px;
}
.order:last-child{
    padding-right: 0;
}
.img-order-div{
    height:70%;
}
.img-order{
    height: 100%;
    width: 100%;
    border: 5px solid #000;
    box-sizing: border-box;
}
.order-title{
    height: 30px;
    line-height: 30px;
}
.order-title h3{
    font-family: Tahoma;
    font-size: 18px;
}
.order-description{
    overflow-y: auto;
    width: 100%;
    height: 67px;
}
.order-description p{
    overflow-y: auto;
    font-family: Tahoma;

}
.footer-container{
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
    border-top: 2px solid #444;
}
.footer-title{
    float: left;
    height: 100%;
    width: 400px;
    padding-top: 10px;
    box-sizing: border-box;
}
.footer-title h5{
    text-align: center;
    font-size: 18px;
    font-family: Tahoma;

}
.footer-container ul li{
    margin-left: 10px;
    margin-top:5px;
    padding:10px 20px;
    font-size: 18px;
    line-height:10px;
}
.footer-container ul li:first-child{
    padding-left: 10px;

}
.nav-bottom{
    float: left;
    width: 600px;
    height: 100%;
}
.social-media a{
    float: left;
}
.social-media{
    height: 100%;
    width: 100%;
}
.twitter{
    height: 60px;
    width: 60px;
    float: left;
    margin: 10px;
    padding-right: 10px;
}
.twitter a img{
    width: 30px;
    height: 30px;
}
.facebook{
    height: 40px;
    width: 40px;
    float: left;
    margin: 10px;
    padding-right: 10px;
}
.facebook img{
    width: 30px;
    height: 30px;
}